@charset "UTF-8";
body{
margin: 0px;}
.odometer{
 
    margin-bottom: 10px;
  width: 200px;
text-align:center ; 
}
.vr{
display:inline ; 
margin : 10px ; 
 height: 100px;
  width: 350px;

}
.contact {
 
  float:left ;  
}
.contact img{
 
    margin-left : 35px;
	 margin-right : 35px;
	 
}

#country{

margin: 0px;
 float: left;
 
     margin-top: -570px;
    margin-right:159px;
    overflow: visible;
    position: relative;
    width: 700px;
    color:#EF3753;
    z-index: 7;
    padding:20px;


 font-family:'Chronicle SSm A';
  font-size:45px;
  font-style:normal;
  font-weight:400;
  line-height:36px;

}
#loading{
 position: absolute;
top:50%;
right : 50% ; 
}
#Victimes{
display: block;

/*top:-100px ; 
bottom:100px;*/
margin: 0px;
 float: left;
 
     margin-top: -100px;
    margin-right:159px;
    overflow: visible;
    position: relative;
    width: 800px;
    color:#EF3753;
    z-index: 7;
    padding:20px;
	
	
 font-family:'Chronicle SSm A';
  font-size:35px;
  font-style:normal;
  font-weight:400;
  line-height:36px;
	
}
	

#map {
 /*height: 580px; */
 height: 100%;
  width: 100%;
 }
 
 #txt {
 /*height: 580px; */
 height: 100%;
 opacity: 0.7;
 width : 20%;
 color: #555;
 
z-index: 2;

 }
 
  
.lis {
    display: block;
    padding: 5px;
}
 
 .legend {
    line-height: 18px;
	width: 300px;
    color: #555;
}


 .legend2 {
    line-height: 18px;
	width: 300px;
	height : 200px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
	display:block;
    float: right;
    margin-right: 8px;
    opacity: 0.7;
}

.info {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font: 14px/16px Arial,Helvetica,sans-serif;
    padding: 6px 8px;
	clear:both;
	 margin-top: 90px !important;
}
.info h4 {
    color: #777777;
    margin: 0 0 5px;
}

/*CSS styling*/


/* The CSS */
select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    opacity:0.7;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {position:relative}
label:after {
    content:'☪';
    font:25px "Consolas", monospace;
    color:#000;
    right:5px; top:-10px;
    /*padding:0 0 2px; */
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
	background:#FFF;
   
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
   
}

#buttons{
	position:absolute;
	top:3%;
	left:65%;
	width:460px ; 
}
#button-faq{
margin-bottom: -15px;
}